* {
    padding:0 ;
    box-sizing: border-box;
    margin:0;
}

 .app {
    width: 100vw;
    height: 100vh;
    background-image: url(images/Background.png);
    background-size: contain;
    background-repeat: no-repeat;
    }
 .nav-bar-list {
    display: flex;
    gap: 32px;
    align-items: center;

   }
 .nav-bar-list-right {
    display:flex;
    gap: 12px;
    align-items: center;
}
 .nav-link{
    list-style: none;
 }   
.nav-link-text {
font-family: Inter, san-serif ;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
color: #18191F;
text-decoration: none;

}
.nav-bar {
    max-width: 1440px;
    height: 72px;
    display: inline-flex;
    margin: auto;
    align-items: center;
    padding: 16px 165px;;
    justify-content: space-around;
    gap: 261px;;
}
.hero-section {
    display:flex;
    justify-content: space-around;
    margin: 100px auto auto;
    max-width:1440px;
    padding:0 20px;
    flex-direction: column;
}
    .hero-title {
      font-family: 'Inter' sans-serif;
      font-weight: 800;
      font-size: 72px;
      line-height:98px;
      color:#18191F;
      margin-top: 70px;
  }
  .hero-content {
      gap:32px;
      display:flex;
      flex-direction:column;
  }
  .hero-button {
      width:154px;
      height: 48px;
      background: #BC30F5;
      border-radius: 6px;
      color:#fff;
      border:0;
      font-family: 'Inter' sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
  }
  .hero-content-wrapper {
      display: flex;
      justify-content: space-between;
  }
  .hero-companylogos {
      height:110px;
      display: flex;
      align-items: center;
      margin: auto;
      gap:65px;
  }
}

